<h2>Pedidos</h2>

<a href="{% url 'criar_pedido' %}">+ Novo Pedido</a>

<table border="1" cellpadding="5">
  <tr>
    <th>Órgão</th>
    <th>Pregão</th>
    <th>Empenho</th>
    <th>Data</th>
    <th>Status</th>
    <th>Total</th>
  </tr>

  {% for pedido in pedidos %}
  <tr>
    <td>{{ pedido.orgao }}</td>
    <td>{{ pedido.numero_pregao }}</td>
    <td>{{ pedido.numero_empenho }}</td>
    <td>{{ pedido.data_pedido }}</td>
    <td>{{ pedido.get_status_display }}</td>
    <td>R$ {{ pedido.total }}</td>
  </tr>
  {% endfor %}
</table>
